@import url('https://fonts.cdnfonts.com/css/neo-sans-arabic');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Neo Sans Arabic" , 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cards h2::after , .mens h2::after {
  content: "";
  width: 15%;
  height: 5px;
  
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.dark .cards h2::after , .dark .mens h2::after {
  content: "";
  width: 15%;
  height: 5px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
/* .cards h2::before , .mens h2::before {
  content: "";
  width: 3%;
  height: 8px;
  background-color: red;
  position: absolute;
  bottom: -28px;
  left: 50%;
  z-index:2 ;
  transform: translateX(-50%);
} */
.cards h2 , .mens h2 , .man , .card{
opacity: 0;
transform: translateY(-50px);
animation: fadeIn .5s linear forwards ;

}
@keyframes fadeIn {
  to{
    opacity: 1;
    margin-top: 0;
transform: translateY(0px);

  }
}
.man{
  transform: translateX(-120px);
  opacity: 0;
  animation: fadeIn2 .6s linear forwards ;
   }
   @keyframes fadeIn2 {
    to{
      opacity: 1;
  transform: translateX(0px);
  
    }
  }